.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    height: 15px;
}
.header__logo{
    height: 22px;
    object-fit: contain;
    margin-left: 20px;
}
.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}
.header__inputButton{
    width: 50px !important; 
    background-color: #f9f9f9;
    border-left: 1px solid lightgray;
}
.header__voice{
    width: 50px !important;
    background-color: #f9f9f9;
}
.header__icons{
    display: flex;
    align-items: center;
}
.header__input>input{
    flex: 1;
    border: none;
}
.header__icon{
    padding-right: 15px;
}
.header__voice{
    padding-left: 20px;
}
